<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <main>
        {{template "content" .}}
    </main>

    <footer>
        <p>
            Copyright © 2025. Made with ❤️ by <a href="https://github.com/wajeht">@wajeht</a>
            |
            <a href="https://github.com/wajeht/screenshot" target="_blank" rel="noopener noreferrer">Github</a>
        </p>
    </footer>
</body>
</html>
